<section>

    @if(seeCustomCar){
        <label>
            To add a car simply implement the below interface that returns your name, color and the logic.
            You also have acess to additionnal functions if you want to use Vectors and Postition
        </label>
        <main>
            <code-mirror-editor [(content)]="userCode"></code-mirror-editor>
            @if(seeLibcode){
                <code-mirror-editor [editable]="false" [(content)]="libcode"></code-mirror-editor>
            }
            <aside>
                <label (click)="seeLibcode = ! seeLibcode">See additionnal functions</label>
            </aside>
            
        </main>
        
        <footer>
            <button (click)="seeCustomCar = false">Cancel</button>
            <button [disabled]="!libcodeLoaded" (click)="executeUserCode()">
                @if(!hasCustomCar){
                    Add custom car
                }@else{
                    Update custom car
                }
            </button>
        </footer>
    }@else{
        <button (click)="seeCustomCar = true">Add a custom car</button>
    }
    
</section>
